@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Integral_CF;
  src: url('/fonts/IntegralCF.woff') format('woff'
    );
}

.dm-sans-font{
  font-family: "DM Sans", sans-serif;
}

.nav-item {
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

input::placeholder {
  font-family: "DM Sans", sans-serif;
  color: #C0C0C0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

.btn-text {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.56px;
}

.btn-upload {
  display: inline-flex;
  padding: 18px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  background: #3D00B7;
}

.btn-connect {
  color: #3D00B7;
  display: inline-flex;
  padding: 18px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 2px solid #3D00B7;
}

p {
  color: #565656;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 160%;
  32px */
}

.footer-p {
  color: #565656;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}


:root {
  font-family: Integral_CF;
}